<html>
  <head>
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['bar']}]}"></script>
	<meta name="viewport"
          content="width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no"/>
	<link rel="stylesheet" type="text/css" href="css/img.css">
	<link rel="stylesheet" type="text/css" href="css/divCenter.css">

	<script type="text/javascript" src="js/functions/hover.js"></script>
    <title>Fantasy Premier League Stats</title>
	
	<script>
		var transferIn = [
          ['Name', 'Transfer In']
		  {{range .FplPlayerTransferInData}}
          ,[{{.Web_name}}, {{.Transfers_in_event}}]
		  {{end}}
          
        ];
		
		var transferOut = [
          ['Name', 'Transfer Out']
		  {{range .FplPlayerTransferOutData}}
          ,[{{.Web_name}}, {{.Transfers_out_event}}]
		  {{end}}
          
        ];
		
	</script>
     <script type="text/javascript" language="javascript" src="js/googleChart/googleChart.js"></script>
  
  </head>
  <body>
	<img border="0" src="images/logo.png" alt="FPl Stats" onclick="location.href = '/';"/>
	<br>
	<img border="0" src="images/fplTrend.png" alt="FPl Stats" onmouseover="hoverTrend(this);" onmouseout="unhoverTrend(this);" onclick="location.href = '/retrieveFplDataByTrend';"/>
	<img border="0" src="images/injury.png" alt="FPl Injury" onmouseover="hoverInjury(this);" onmouseout="unhoverInjury(this);" onclick="location.href = '/retrieveFplDataByAvailability';"/>
	<div id="top_transferIn_div" style="width: 900px; height: 500px;" class="center"></div>
	<div id="top_transferOut_div" style="width: 900px; height: 500px;" class="center"></div>
	
  </body>
</html>