<html>
  <head>
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['bar']}]}"></script>
	<style>
		div.center { margin: 0 auto; }
	</style>
	<script>
		var transferIn = [
          ['Name', 'Transfer In']
		  {{range .FplPlayerTransferInData}}
          ,[{{.Web_name}}, {{.Transfers_in_event}}]
		  {{end}}
          
        ];
		
		var transferOut = [
          ['Name', 'Transfer Out']
		  {{range .FplPlayerTransferOutData}}
          ,[{{.Web_name}}, {{.Transfers_out_event}}]
		  {{end}}
          
        ];
		
	</script>
     <script type="text/javascript" language="javascript" src="js/googleChart/googleChart.js"></script>
    <title>Fantasy Premier League Stats</title>
  </head>
  <body>
	
	<div id="top_transferIn_div" style="width: 900px; height: 500px;" class="center"></div>
	<div id="top_transferOut_div" style="width: 900px; height: 500px;" class="center"></div>
	
  </body>
</html>